.loginBar {
  height: 100vh;
  background: lightgrey;
  padding: 2em !important;
}
.loginScreen {
  height: 100vh;
  background-image: linear-gradient(
    150deg,
    rgb(15, 68, 167) 100%,
    rgb(217, 90, 90) 200%,
    rgb(76, 167, 84) 300%
  );
}
